# Ignore Terraform state and provider files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
ENV/

# Ignore OS and editor files
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Ignore log files
*.log
